<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% if data.title %}
        <title>{{ data.title }}</title>
    {% else %}
        <title>Delilniki</title>
    {% endif %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=data.css) }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>


<!-- background="{{ url_for("static", filename="bgimage.jpg") }}" -->
<body>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <b>{{ message }}</b> <br />
        {% endfor %}
      {% endif %}
{% endwith %}
<span id="date_time" style="float: right;"></span>
<div>{{ data.title }}:
    <a href="/index">Domov</a>&nbsp;|&nbsp;
    <a href="/value_input">Value Input</a>&nbsp;|&nbsp;
    <a href="/show">Show</a>&nbsp;|&nbsp;
    <a href="/more">More</a>&nbsp;|&nbsp;
    <i>This is</i> <span style="color: red;"><i>Alpha deploy</i></span>
</div>
<script type="text/javascript">window.onload = date_time('date_time');</script>
<hr>
{% block content %}{% endblock %}
</body>
</html>



