<div>
<h2>Poraba v tem mesecu:</h2>
<table border="0">
    <tr><td><hr></td></tr>
    <tr><td><h3>Ogrevanje [enot]</h3></td></tr>
    <tr>
        <td title="Lokacija"><b>Lokacija</b></td>
        <td title="Trenutna poraba"><b>Trenutna p.</b></td>
        <td title="Napovedana poraba"><b>Napovedana p*</b></td>
        <td title="Trend"><b>Trend*</b></td>
        <td title="Poraba prejšnji mesec"><b>Poraba p. m.</b></td>
        <td>&nbsp;</td>
    </tr>
    {% for d in data.month_heat_consumption.keys() %}
        <tr>
            <td title="Lokacija">{{ d.capitalize() }}</td>
            <td id="center_td" title="Trenutna poraba">{{ data.month_heat_consumption[d]}}</td>
            <td id="center_td" title="Napovedana poraba">{{ "%0.3f"| format(data.trend_heat[d]["prediction"]|float) }}</td>

            {% if data.trend_heat[d]["trend"] < 0 %}
                <td id="center_td" title="Trend - poraba bo manjša kot prejšnji mesec" bgcolor="#adff2f">
                {{ "%0.2f"| format(data.trend_heat[d]["trend"]|float) }} %
            {% else %}
                <td id="center_td" title="Trend - poraba bo večja kot prejšnji mesec" bgcolor="red">
                {{ "+%0.2f"| format(data.trend_heat[d]["trend"]|float) }} %
            {% endif %}
            </td>

            <td id="center_td" title="Poraba prejšnji mesec">{{ data.previous_month_heat_consumption[d] }}</td>
        </tr>
    {% endfor %}
    <tr bgcolor="#f5f5f5">
        <td>Sum</td>
        <td id="center_td">{{ data.sum_month_heat }}</td>
        <td id="center_td">{{ "%0.2f"| format(data.sum_predict_heat|float) }}</td>
        <td>&nbsp;</td>
        <td id="center_td">{{ data.sum_last_heat }}</td>
    </tr>
    <tr><td><hr></td></tr>
    <tr><td><h3>Voda [m3]</h3></td></tr>
    {% for d in data.month_water_consumption.keys() %}
        <tr>
            <td title="Topla/Hladna">{{ d.capitalize() }}</td>
            <td id="center_td" title="Trenutna poraba">{{ data.month_water_consumption[d]}}</td>
            <td id="center_td" title="Napovedana poraba">{{ "%0.3f"| format(data.trend_water[d]["prediction"]|float) }}</td>
            {% if data.trend_water[d]["trend"] < 0 %}
                <td id="center_td" title="Trend - poraba bo manjša kot prejšnji mesec" bgcolor="#adff2f">
                    {{ "%0.2f"| format(data.trend_water[d]["trend"]|float) }} %
            {% else %}
                <td id="center_td" title="Trend - poraba bo večja kot prejšnji mesec" bgcolor="red">+
                    {{ "+%0.2f"| format(data.trend_water[d]["trend"]|float) }} %
            {% endif %}
            </td>
        <td id="center_td" title="Poraba prejšnji mesec">
            {{ data.previous_month_water_consumption[d] }}
        </td>
        </tr>
    {% endfor %}
    <tr bgcolor="#f5f5f5">
        <td>Sum</td>
        <td id="center_td">{{ "%0.3f"| format(data.sum_month_water|float) }}</td>
        <td id="center_td">{{ "%0.3f"| format(data.sum_predict_water|float) }}</td>
        <td>&nbsp;</td>
        <td id="center_td">{{ "%0.3f"| format(data.sum_last_water|float) }}</td>
    </tr>
</table>
<br>
    <span style="font-size: 25px"><b>*</b></span>
    <span style="font-size: 12px">Glede na prejšnji mesec. <a href="/more">Več ...</a></span>
</div>