{% extends "base.html" %}
{% block content %}
    <button onclick="goBack()">Back</button>
    <hr>
    <p>
        <h3>Trenutna poraba</h3>
        Poraba od začetka tekočega meseca do danes.
    </p>
    <hr>
    <p>
        <h3>Napovedana poraba in Trend</h3>
        <h4>Napovedana poraba</h4>
        Napovedana poraba (<i>P</i>) je izračunana glede na povprečno porabo v prejšnjem mesecu.<br>

        <h4>Trend</h4>
        Trend (<i>T</i>) prikazuje ali se poraba, glede na korigirano vrednost porabe iz prejšnjega meseca, zmanjšuje oz. povečuje.<br>

        <h4>Izračun</h4>
        <i>a</i> - poraba od začetka meseca do danes<br>
        <i>b</i> - povprečna poraba prejšnjega meseca<br>
        <i>c</i> - poraba za N dni nazaj od današnjega datuma. Ponavadi N = g<br>
        <i>d</i> - napovedana poraba za preostale dni v mesecu<br>
        <i>e</i> - preostanek dni v tem mesecu<br>
        <i>f</i> - virtualna poraba prejšnjega meseca<br>
        <i>g</i> - število dni v tekočem mesecu<br>
        <i>P</i> - napovedana poraba za tekoči mesec<br>
        <i>T</i> - trend<br>
        <i>Tp</i> - trend [%]<br>
        <br>

        <img src="{{ url_for('static', filename='calc_T_P_Tp.gif') }}" alt="Mountain View">


    </p>
    <hr>
    <p><h4>Še več</h4>
        <a href="https://github.com/LeskoIam/delilniki">https://github.com/LeskoIam/delilniki</a><br>
        <a href="mailto:polensek.matevz@gmail.com" target="_top">polensek.matevz@gmail.com</a>
    </p>
    <hr>
{% endblock %}