<div>
<h2>Poraba v tem mesecu:</h2>
<table border="0">
    <tr><td><hr></td></tr>
    <tr><td><h3>Ogrevanje [enot]</h3></td></tr>
    <tr>
        <td><b>Lokacija</b></td>
        <td><b>Trenutna p.</b></td>
        <td><b>Napovedana poraba*</b></td>
        <td><b>Poraba prejšnji m.</b></td>
        <td><b>Trend</b></td>
        <tr><td>&nbsp;</td></tr>
    </tr>
    {% for d in data.month_heat_consumption.keys() %}
        <tr>
            <td>{{ d.capitalize() }}</td>
            <td>{{ data.month_heat_consumption[d]}}</td>
            <td>{{ data.predict_month_heat_consumption[d] }}</td>
            <td>{{ data.previous_month_heat_consumption[d] }}</td>

            {% if data.predict_month_heat_consumption[d] < data.previous_month_heat_consumption[d] %}
                <td bgcolor="#adff2f">{{ data.predict_month_heat_consumption[d] - data.previous_month_heat_consumption[d] }}</td>
            {% elif data.predict_month_heat_consumption[d] > data.previous_month_heat_consumption[d] %}
                <td bgcolor="red">+{{ data.predict_month_heat_consumption[d] - data.previous_month_heat_consumption[d] }}</td>
            {% else %}
                <td bgcolor="#00bfff">0</td>
            {% endif %}
        </tr>
    {% endfor %}
    <tr><td><hr></td></tr>
    <tr><td><h3>Voda [m3]</h3></td></tr>
    {% for d in data.month_water_consumption.keys() %}
        <tr>
            <td>{{ d.capitalize() }}</td>
            <td>{{ data.month_water_consumption[d]}}</td>
            <td>{{ data.predict_month_water_consumption[d] }}</td>
            <td>{{ data.previous_month_water_consumption[d] }}</td>
        
            {% if data.predict_month_water_consumption[d] < data.previous_month_water_consumption[d] %}
                <td bgcolor="#adff2f">{{ data.predict_month_water_consumption[d] - data.previous_month_water_consumption[d] }}</td>
            {% elif data.predict_month_water_consumption[d] > data.previous_month_water_consumption[d] %}
                <td bgcolor="red">+{{ data.predict_month_water_consumption[d] - data.previous_month_water_consumption[d] }}</td>
            {% else %}
                <td bgcolor="#00bfff">0</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
<br>
<span style="font-size: 25px"><b>*</b></span> <span style="font-size: 12px">Napovedana poraba glede na povprečno porabo v obdobju zadnjih 30 dni.</span>
</div>