<div>
<h2>Poraba v tem mesecu:</h2>
<table border="0">
    <tr><td><hr></td></tr>
    <tr><td><h3>Ogrevanje [enot]</h3></td></tr>
    <tr>
        <td title="Lokacija"><b>Lokacija</b></td>
        <td title="Trenutna poraba"><b>Trenutna p.</b></td>
        <td title="Napovedana poraba"><b>Napovedana poraba*</b></td>
        <td title="Poraba prejšnji mesec"><b>Poraba pr. m.</b></td>
        <td title="Trend"><b>Trend</b></td>
        <td>&nbsp;</td>
    </tr>
    {% for d in data.month_heat_consumption.keys() %}
        <tr>
            <td title="Lokacija">{{ d.capitalize() }}</td>
            <td title="Trenutna poraba">{{ data.month_heat_consumption[d]}}</td>
            <td title="Napovedana poraba">{{ data.predict_month_heat_consumption[d] }}</td>
            <td title="Poraba prejšnji mesec">{{ data.previous_month_heat_consumption[d] }}</td>

            {% if data.predict_month_heat_consumption[d] < data.previous_month_heat_consumption[d] %}
                <td title="Trend - poraba bo manjšsa kot prejšnji mesec" bgcolor="#adff2f">
                    {{ "%i"| format(data.predict_month_heat_consumption[d] - data.previous_month_heat_consumption[d]|float) }}
                </td>
            {% elif data.predict_month_heat_consumption[d] > data.previous_month_heat_consumption[d] %}
                <td title="Trend - poraba bo večja kot prejšnji mesec" bgcolor="red">
                    {{ "+%i"| format(data.predict_month_heat_consumption[d] - data.previous_month_heat_consumption[d]|float) }}
                </td>
            {% else %}
                <td title="Trend" bgcolor="#00bfff">0</td>
            {% endif %}
        </tr>
    {% endfor %}
    <tr><td><hr></td></tr>
    <tr><td><h3>Voda [m3]</h3></td></tr>
    {% for d in data.month_water_consumption.keys() %}
        <tr>
            <td title="Topla/Hladna">{{ d.capitalize() }}</td>
            <td title="Trenutna poraba">{{ data.month_water_consumption[d]}}</td>
            <td title="Napovedana poraba">{{ data.predict_month_water_consumption[d] }}</td>
            <td title="Poraba prejšnji mesec">{{ data.previous_month_water_consumption[d] }}</td>
        
            {% if data.predict_month_water_consumption[d] < data.previous_month_water_consumption[d] %}
                <td title="Trend - poraba bo manjšsa kot prejšnji mesec" bgcolor="#adff2f">
                    {{ "%0.3f"| format(data.predict_month_water_consumption[d] - data.previous_month_water_consumption[d]|float) }}
                </td>
            {% elif data.predict_month_water_consumption[d] > data.previous_month_water_consumption[d] %}
                <td title="Trend - poraba bo večja kot prejšnji mesec" bgcolor="red">
                    {{ "+%0.3f"| format(data.predict_month_water_consumption[d] - data.previous_month_water_consumption[d]|float) }}
                </td>
            {% else %}
                <td title="Trend" bgcolor="#00bfff">0</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
<br>
<span style="font-size: 25px"><b>*</b></span> <span style="font-size: 12px">Napovedana poraba glede na povprečno porabo v obdobju zadnjih 30 dni.</span>
</div>